@use "sass:map";
@use "../util/functions" as f;
@use "../util/elevations" as e;

.button {
	display: flex;
	align-items: center;
	cursor: pointer;
	background: transparent;

	position: relative;

	transition:
		background-color 350ms cubic-bezier(0.27, 1.06, 0.18, 1),
		color 350ms cubic-bezier(0.27, 1.06, 0.18, 1),
		border-radius 350ms cubic-bezier(0.27, 1.06, 0.18, 1);

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		pointer-events: none;
		border-radius: inherit;
	}

	&:disabled {
		cursor: not-allowed;
	}

	&[data-shape="round"] {
		border-radius: 999px;
	}
}

.button {
	&[data-color="elevated"] {
		background: var(--c-surface-container-low);
		color: var(--c-primary);
		@include e.m3-shadow(1);

		&[data-disabled] {
			background: rgba(from var(--c-on-surface) r g b / 0.1);
			@include e.m3-shadow(0);
			color: rgba(from var(--c-on-surface) r g b / 0.38);
			svg {
				fill: rgba(from var(--c-on-surface) r g b / 0.38);
			}
		}

		&:not([data-disabled]) {
			&[data-hovered] {
				&::before {
					background: rgba(from var(--c-primary) r g b / 0.08);
				}
			}

			&[data-focus-visible] {
				outline: 2px solid var(--c-outline);
				outline-offset: 3px;
			}
			&[data-focus-visible],
			&[data-pressed] {
				&::before {
					background: rgba(from var(--c-primary) r g b / 0.1);
				}
			}
		}
	}
	&[data-color="tonal"] {
		background: var(--c-secondary-container);
		color: var(--c-on-secondary-container);
		svg {
			fill: var(--c-on-secondary-container);
		}

		&[data-disabled] {
			background: rgba(from var(--c-on-surface) r g b / 0.1);
			color: rgba(from var(--c-on-surface) r g b / 0.38);
			svg {
				fill: rgba(from var(--c-on-surface) r g b / 0.38);
			}
		}

		&:not(:disabled) {
			&[data-hovered] {
				&::before {
					background: rgba(from var(--c-on-secondary-container) r g b / 0.08);
				}
			}
			&[data-focus-visible] {
				outline: 2px solid var(--c-outline);
				outline-offset: 3px;
			}
			&[data-focus-visible],
			&[data-pressed] {
				&::before {
					background: rgba(from var(--c-on-secondary-container) r g b / 0.1);
				}
			}
		}
	}
	&[data-color="filled"] {
		background: var(--c-primary);
		color: var(--c-on-primary);
		svg {
			fill: var(--c-on-primary);
		}

		&[data-disabled] {
			background: rgba(from var(--c-on-surface) r g b / 0.1);
			color: rgba(from var(--c-on-surface) r g b / 0.38);
			svg {
				fill: rgba(from var(--c-on-surface) r g b / 0.38);
			}
		}

		&:not(:disabled) {
			&[data-hovered] {
				&::before {
					background: rgba(from var(--c-on-primary) r g b / 0.08);
				}
			}
			&[data-focus-visible] {
				outline: 2px solid var(--c-outline);
				outline-offset: 3px;
			}
			&[data-focus-visible],
			&[data-pressed] {
				&::before {
					background: rgba(from var(--c-on-primary) r g b / 0.1);
				}
			}
		}
	}

	&[data-color="outlined"] {
		border: 3px solid var(--c-outline-variant);
		color: var(--c-on-surface-variant);

		&[data-disabled] {
			color: rgba(from var(--c-on-surface) r g b / 0.38);
		}

		&:not([data-disabled]) {
			&[data-hovered] {
				background: rgba(from var(--c-on-surface-variant) r g b / 0.08);
			}

			&[data-focus-visible] {
				outline: 2px solid var(--c-outline);
				outline-offset: 3px;
			}

			&[data-pressed],
			&[data-focus-visible] {
				background: rgba(from var(--c-on-surface-variant) r g b / 0.1);
			}
		}
	}
}

$button-sizes: (
	xs: (
		height: 32px,
		gap: 4px,
		padding: 12px,
		icon-size: 20px,
		radius: 12px,
		pressed-radius: 8px,
		font-size: 14,
		line-height: 20,
		font-weight: 500
	),

	sm: (
		height: 40px,
		gap: 8px,
		padding: 16px,
		icon-size: 20px,
		radius: 12px,
		pressed-radius: 8px,
		font-size: 14,
		line-height: 20,
		font-weight: 500
	),

	md: (
		height: 56px,
		gap: 8px,
		padding: 24px,
		icon-size: 24px,
		radius: 16px,
		pressed-radius: 12px,
		font-size: 16,
		line-height: 24,
		font-weight: 500
	),

	lg: (
		height: 96px,
		gap: 12px,
		padding: 48px,
		icon-size: 32px,
		radius: 28px,
		pressed-radius: 16px,
		font-size: 24,
		line-height: 32,
		font-weight: 400
	),

	xl: (
		height: 136px,
		gap: 16px,
		padding: 64px,
		icon-size: 40px,
		radius: 28px,
		pressed-radius: 16px,
		font-size: 32,
		line-height: 40,
		font-weight: 400
	)
);

.button {
	@each $size, $config in $button-sizes {
		&[data-size="#{$size}"] {
			height: map.get($config, height);
			gap: map.get($config, gap);
			padding-inline: map.get($config, padding);

			font-size: f.rem(map.get($config, font-size));
			line-height: f.rem(map.get($config, line-height));
			font-weight: map.get($config, font-weight);

			svg {
				width: map.get($config, icon-size);
				height: map.get($config, icon-size);
			}

			&[data-shape="square"] {
				border-radius: map.get($config, radius);
			}

			&[data-pressed] {
				border-radius: map.get($config, pressed-radius);
			}
		}
	}
}
