@use "../util/functions" as f;

.menus {
	outline: none;

	svg {
		color: var(--c-on-surface-variant);
	}

	&__group {
		padding: 4px;
		border-radius: 8px;
		margin-block-end: 2px;
		min-width: 112px;
		max-width: 280px;

		display: flex;
		flex-direction: column;
		gap: 2px;

		&:first-child {
			border-top-left-radius: 16px !important;
			border-top-right-radius: 16px !important;
		}
		&:last-child {
			border-bottom-left-radius: 16px !important;
			border-bottom-right-radius: 16px !important;
		}
	}

	&__separator {
		margin-block: 2px;
		margin-inline: 12px;
	}

	&__label {
		height: 32px;
		line-height: f.rem(20);
		font-size: f.rem(14);
		font-weight: 900;
		display: flex;
		align-items: center;
		padding-inline: 12px;
	}

	&__item {
		display: flex;
		gap: 8px;
		align-items: center;
		outline: none;

		position: relative;

		height: 48px;
		border-radius: 4px;

		&::before {
			content: "";
			position: absolute;

			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			border-radius: 4px;
			pointer-events: none;
		}

		&[data-selected] {
			border-radius: 12px;
			&::before {
				border-radius: 12px;
			}
		}

		&__label {
			h4 {
				line-height: f.rem(20);
				font-size: f.rem(14);
				font-weight: 500;
			}
			p {
				line-height: f.rem(16);
				font-size: f.rem(12);
				font-weight: 400;
			}
		}
		& .submenu-caret,
		&__shortcut {
			margin-left: auto;
			padding-left: 12px;

			line-height: f.rem(20);
			font-size: f.rem(14);
			font-weight: 500;
		}

		& .submenu-caret {
			width: 32px;
		}

		cursor: pointer;
		&:disabled {
			cursor: not-allowed;
		}

		padding-inline: 12px;

		svg {
			height: 20px;
			width: 20px;
		}

		.not-selected {
			display: block;
			width: 20px;
		}
	}

	&[data-color="standard"] {
		svg {
			color: var(--c-on-surface-variant);
		}
		.menus__group {
			background: var(--c-surface-container-low);
			color: var(--c-on-surface);
		}

		.menus__separator {
			border-top: 2px solid var(--c-outline);
		}

		.menus__item {
			&[data-hovered]::before {
				background: rgba(from var(--c-on-surface) r g b / 0.08);
			}

			&__label p,
			& svg,
			&__shortcut {
				color: var(--c-on-surface-variant);
			}

			&[data-selected] {
				background: var(--c-tertiary-container);
				color: var(--c-on-tertiary-container);

				svg {
					color: var(--c-on-tertiary-container);
				}
			}

			&[data-variant="destructive"] {
				background: var(--c-error);
				color: var(--c-on-error);
				border-radius: 12px;
				.menus__item__label p,
				& svg,
				.menus__item__shortcut {
					color: rgba(from var(--c-on-error) r g b / 0.75);
				}
			}
		}
	}
	&[data-color="vibrant"] {
		svg {
			color: var(--c-on-tertiary-container);
		}
		.menus__group {
			background: var(--c-tertiary-container);
			color: var(--c-on-tertiary-container);
		}
		.menus__item {
			&[data-selected] {
				background: var(--c-tertiary-container);
				color: var(--c-on-tertiary-container);

				svg {
					color: var(--c-on-tertiary-container);
				}
			}
		}
	}
}
