# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# local env files
.env
.env.*
!.env.example

# testing
coverage
testing.txt

# logs
logs
*.log*

# databases
generated

# build outputs
dist
dist-ssr
.output
*.local

# vercel
.vercel

# cloudflare
.wrangler

# tanstack
.nitro
.tanstack
.vinxi
__unconfig*

# misc
.DS_Store
*.pem
*.tsbuildinfo

# visual studio code
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/settings.json

# jetbrains
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# other editors
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
